/* SET UP */

$grey: #EEF4ED;
$blue: #8DA9C4;
$darkblue: #032B43;
$yellow: #FFBA08;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL */

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2%;
}

.container-column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $grey;
  width: 95vw;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: row;
}

/* MOVIE */

#movie-container {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  background: $blue;
  margin: 5% auto 2%;
}

.movie-container_infos {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.movie-container_title {
  font-size: 2em;
  text-align: center;
}

.movie-container_poster {
  width: 30%;
  height: auto;
}

.icon {
  width: 1em;
}

.arrow {
  cursor: pointer;
  font-size: 2em
}

.arrow:hover{
  color: $yellow;  
}

/* BULLET POINT */
.bullet-points {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}

.bullet-points_bullet:hover, .bullet-points_bullet__active {
  color: $yellow;
}