/* SET UP */
$grey: #eef4ed;
$blue: #8da9c4;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
	background-color: $grey;
	width: 95vw;
	margin: 0 auto;
}

.hidden{
	visibility: hidden;
}

.flex-container-row{
	display: flex;
	flex-direction: row;
}

.flex-container-column{
	display: flex;
	flex-direction: column;
}

/* PAGE */
.page-container {
	align-items: center;
}

/* SLIDER */
.slider-container {
	justify-content: center;
	width: 500px;
	height: 500px;
	max-width: 100vw;
	max-height: 75vh;
}

/* MOVIE */
.movie-container {
	width: 75%;
	background-color: $blue;
}

.movie-container_poster {
	width: 100%;
	height: auto;
}

.movie-container_infos {
	background-color: $blue;
	padding: 6%;
}

.movie-container_title {
	font-size: 2em;
}

/* BULLET */
.bullet-points {
	justify-content: center;
	flex-wrap: nowrap;
	font-size: 2em;
	padding: 3px;
}

.bullet-points_bullet {
	padding: 3px;
	cursor: pointer;
}

.bullet-points_bullet:hover,
.bullet-points_bullet__active {
	padding: 3px;
	color: $blue;
}

.icon {
	width: 1em;
}

.arrow {
	cursor: pointer;
	font-size: 2rem;
	margin: 5%;
}

@media (max-width: 640px) {
	.bullet-points {
		font-size: 1.3em;
	}

	.movie-container_title {
		font-size: 1.4em;
	}

	.slider-container {
		max-width: 100%;
	}
}
